body {
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;
  background-image: url(logov2-03.svg); color: #ed0000;
  background-color: #3a3a3a;
  color: #ed0000;
}

.textbox1 {
  width: 45%;
  height: 100%;
  padding-top: .5em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
  border-radius: 5px;
  background-color: #420000;
  opacity: .8;
  transition: 1s;
}
.textbox1:hover{
  opacity: 1;
}
a {
  font-size: 1.5vw;
  color: #ed0000;
  padding: .5em;
  border-radius: 5px;
}
a:hover {
  background-color: #3a3a3a;
}

.pulse {
  animation: pulse 1.5s infinite alternate;
  animation-timing-function: linear;
}
        @keyframes pulse{
          from {
            opacity:.3;
          }

          to {
            opacity:1;
          }
        }
